<script src="../components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="../fieldquest-question-base.html">
<link rel="import" href="../calendar-date.html">
<link rel="import" href="../time-slider.html">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>

<polymer-element name="fieldquest-question-date-picker" extends="fieldquest-question-base" attributes="selectedDate opened orientation align">
<template>
  <style>


  </style>
   <div>
       <calendar-date id="datePicker" orientation="{{orientation}}" align="{{align}}" selectedDate="{{selectedDate}}" relatedTarget="{{$.trigger}}" opened="false">        </calendar-date>
        <paper-button id="trigger" value="{{selectedDate}}" on-click="{{toggle}}" raised>{{selectedDate}}</paper-button>
   </div>
   <div>
     <time-slider id="timePicker" valueHoursDisplay="{{valueHoursDisplay}}" valueMinutesDisplay="{{valueMinutesDisplay}}"></time-slider>
   </div>
</template>
<script>
  Polymer({
        toggle: function() {
            this.$.datePicker.toggle();
        },
        open: function() {
            this.$.datePicker.open();
        },
        getDisplayValue: function() {
            return this.selectedDate + ' ' + this.valueHoursDisplay + ':' + this.valueMinutesDisplay;
        },
        getValue: function() {
             this.valueObject = {
                selectedDate: this.selectedDate,
                valueHours: this.valueHours,
                valueMinutes: this.valueMinutes
            }
            return this.valueObject;
        },
        setValue: function(value) {
            this.selectedDate = value.selectedDate;
            this.valueHours = value.valueHours;
            this.valueMinutes = value.valueMinutes;
        },
        isAnswered: function() {
            return this.selectedDate != null;
        }
      
  });
</script>
</polymer-element>
