<link rel="import" href="../fieldquest-question-base.html">
<link rel="import" href="../components/core-input/core-input.html">
<link rel="import" href="../components/paper-input/paper-input-decorator.html">

<polymer-element name="fieldquest-question-search-text-input" extends="fieldquest-question-base">
<template>

  <style>
    :host {
      padding: 40px 10px;
    } 
    
    :host-context(.wide) {
      padding: 40px 0px 48px;
    }

    :host paper-item {
      padding: 3px 28px;
    }
    
    :host-context(.wide) paper-item {
      padding: 3px 36px;
    }
  </style>

    <div>
        <paper-input-decorator label="Search species">
          <input is="core-input" list="dl">
            <datalist id="dl">
                <option value='aaa'></option>
                <option value='bbb'></option>
                <option value='ccc'></option>
                <option value='aabb'></option>
                <option value='bbaa'></option>
            </datalist>
        </paper-input-decorator>
    </div>

</template>
<script>
    
    Polymer('fieldquest-question-search-text-input', {
        
    });
    
</script>
</polymer-element>