<link rel="import" href="../fieldquest-question-base.html">
<link rel="import" href="../components/paper-input/paper-input.html">

<polymer-element name="fieldquest-question-geolocator" extends="fieldquest-question-base">
<template>

  <style>
    :host {
      padding: 0px;
    }
    
    :host-context(.wide) {
      padding: 0px;
    }
      
    .content {
        padding: 40px 40px;
    }
      
    :host-context(.wide) .content {
      padding: 40px 40px 48px;
    }
      
    paper-progress {
      display: block;
      width: 100%;
      padding: 0px;
    }
      
    .hide {
        display: none
    }
      
    .success {
        color: green;
    }
      
    .accuracyAchieved {
        font-size: 27vw;
        text-align: center;
        color: red;
    }
      
    :host-context(.wide) .accuracyAchieved {
        font-size: 150px;
        text-align: center;
    }
      
    .accuracyTarget {
        font-size: 5vw;
        text-align: center;
    }
      
    :host-context(.wide) .accuracyTarget {
        font-size: 35px;
        text-align: center;
    }
    
    .

  </style>

  <div class="{{{wide: wide} | tokenList}}">
        <paper-progress class="{{{hide: accuracyAcquired} | tokenList}}" indeterminate></paper-progress>
        <div class="content">
            <div><paper-input layout vertical label="Location Name" floatingLabel="Location Name" value="{{locationName}}"></paper-input></div>
            <div class="accuracyAchieved"> 
                <span class="{{{success: accuracyAcquired} | tokenList}}">{{(accuracy == -1) ? '-- ' : accuracy}}m</span>
            </div>
            <div class="accuracyTarget">
                {{requiredAccuracy}}m accuarcy is required
            </div>
<!--
          status: {{status}} <BR/>
          latitude: {{latitude}} <BR/>
          longitude: {{longitude}} <BR/>
          accuracy: <span class="{{{success: accuracyAcquired} | tokenList}}">{{accuracy}}m</span> <BR/>
          accuracy required: {{requiredAccuracy}}m <BR/>
          accuracy acquired: {{accuracyAcquired}} <BR/>
-->
        </div>
  </div>

</template>
<script>
    
    Polymer('fieldquest-question-geolocator', {
        
        geolocator: null,
        enableHighAccuracy: true,
        requiredAccuracy: 50,
        accuracyAcquired: false,
        nextQuestionOnRequiredAccuracyAcquired: false,
        accuracy: -1,
        
        created: function() {
            this.status = "pending...";
            geolocator = this;
        },
        
        isAnswered: function() {
            return this.isLocationNameCompleted() && this.accuracyAcquired;
        },
        
        getDisplayValue: function() {
            return this.locationName + ", lat:" + this.latitude + ", long:" + this.longitude + ", accuaracy: " + this.accuracy + "m (required " + this.requiredAccuracy + "m)";
        },
        
        getValue: function() {
            return {latitude: this.latitude, 
                    longitude: this.longitude, 
                    locationName: this.locationName,
                    accuracy: this.accuracy,
                    requiredAccuracy: this.requiredAccuracy
                   };
        },
        
        setValue: function(value) {
            if (value.latitude && value.longitude) {
                this.latitude = value.latitude;
                this.longitude = value.longitude;
            } else {
                this.reset();
            }
            
            if (value.locationName) {
                this.locationName = value.locationName;
            }
            
            if (value.accuracy && value.requiredAccuracy) {
                this.accuracy = value.accuracy;
                this.requiredAccuracy = value.requiredAccuracy
                this.accuracyAcquired = (value.accuracy > 1) && (value.accuracy <= value.requiredAccuracy);
            }
        },
        
        rendered: function() {
//            console.info('in rendered');
            if (!this.accuracyAcquired) {
                this.getLocation();
            }
        },
        
        getLocation: function() {
//            console.info('in getLocation()');
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(this.onSuccess, this.onError, {maximumAge:10000, timeout:60000, enableHighAccuracy: this.enableHighAccuracy});
            } else { 
                this.status = "Geolocation not supported.";
            }
        },
            
        onSuccess: function(position) {
            this.geolocator.latitude = position.coords.latitude;
            this.geolocator.longitude = position.coords.longitude;
            this.geolocator.accuracy = Math.round(position.coords.accuracy);
            this.geolocator.status = "OK";
            if (this.geolocator.requiredAccuracy < position.coords.accuracy) {
                ///Commented out...otherwise it loops for ever. Needs a terminator...I'll be back
                 this.geolocator.status = "Not accurate enough...retrying";
                 this.geolocator.async(function() {
                      this.getLocation();
                    }, null, 500);
            } else {
                this.geolocator.accuracyAcquired = true;
                this.geolocator.status = "Accuracy Acquired";
                if (this.geolocator.question.nextQuestionOnRequiredAccuracyAcquired) {
                    this.geolocator.fire('question-next');
                }
            }
            
        },

        // onError Callback receives a PositionError object
        onError: function(error) {
            this.geolocator.status = 'code: '    + error.code    + '\n' + 'message: ' + error.message + '\n';
        },
        
        reset: function() {
            this.answer = {};
            this.latitude = 0;
            this.longitude = 0;
            this.locationName = '';
            this.accuracyAcquired = false;
        },
        
        initQuestion: function(question) {
            this.requiredAccuracy = (question.requiredAccuracy) ? question.requiredAccuracy : this.requiredAccuracy ;
            this.nextQuestionOnRequiredAccuracyAcquired = (question.nextQuestionOnRequiredAccuracyAcquired) ? question.nextQuestionOnRequiredAccuracyAcquired : this.nextQuestionOnRequiredAccuarcyAcquired;
            this.enableHighAccuracy = (question.enableHighAccuracy) ? question.enableHighAccuracy : this.enableHighAccuracy;
        },
        
        isLocationNameCompleted: function() {
            return (this.locationName && this.locationName != '');
        }
        
    });
    
</script>
</polymer-element>
