<script src="../components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="../fieldquest-question-base.html">
<link rel="import" href="../components/core-menu/core-menu.html">
<link rel="import" href="../components/core-collapse/core-collapse.html">
<link rel="import" href="../components/paper-item/paper-item.html">
<link rel="import" href="../components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../components/core-collapse/core-collapse.html">
<link rel="import" href="../paper-dropdown-menu-ex.html">

<polymer-element name="fieldquest-question-multi-dropdown" extends="fieldquest-question-base" attributes="selectedSex selectedStatus">
<template>
  <style shim-shadowdom>

    .collapse-content {
      overflow: visible;
      min-height: 150px; 
    }

  </style>
  <section>
      <div>
        <paper-dropdown-menu-ex id="sex" label="Sex" floatingLabel on-core-select="{{selectSexAction}}">
          <paper-dropdown class="dropdown">
            <core-menu class="selector" selectedItem="{{selectedSex}}">
              <paper-item>Male</paper-item>
              <paper-item>Female</paper-item>
              <paper-item>Unknown</paper-item>
            </core-menu>
          </paper-dropdown>
        </paper-dropdown-menu-ex>
      </div>
      <br>
      <core-collapse id="collapse" opened={{openedFlag}} on-core-select="{{selectStatusAction}}">
        <div class="collapse-content">
            <paper-dropdown-menu-ex id="status" label="Breeding Status" floatingLabel>
                <paper-dropdown class="dropdown">
                    <core-menu class="selector" class="collapse-content" selectedItem="{{selectedStatus}}">
                        <paper-item>In Egg</paper-item>
                        <paper-item>Eggless</paper-item>
                        <paper-item>Unknown</paper-item>
                    </core-menu>
                </paper-dropdown>
            </paper-dropdown-menu-ex>
        </div>
     </core-collapse>
 </section>
</template>
<script>
    Polymer({
        
        isAnswered: function() {
            return this.selectedSex != null;
        },
        
        created: function() {
             this.selectedIndexSex = -1;
            this.selectedIndexStatus = -1;
        },
        
        selectSexAction: function(e, detail) {
            
            var sex = detail.item.innerHTML;
            this.selectedSex = sex;

                if (sex == "Female") {
                 this.openedFlag = true;
                }else {
                 this.openedFlag = false;
                 this.selectedStatus = null;
                 this.selectedIndexStatus = -1;
                } 
        },
        selectStatusAction: function(e, detail) {
            var status = detail.item.innerHTML;
            this.selectedStatus = status;
        },
        
        created: function() {
             this.openedFlag = false;
        },
        getDisplayValue: function() {
            if (this.selectedSex == "Female" && this.selectedStatus != null) {
               return this.selectedSex + ', ' + this.selectedStatus;
            }else {
               return this.selectedSex;
            }
        },
        
        getValue: function() {
             this.valueObject = {
                selectedSex: this.selectedSex,
                status: this.selectedStatus,
                selectedSexIndex: this.selectedIndexSex,
                selectedStatusIndex: this.selectedIndexStatus
            }
            return this.valueObject;
        },
        
        setValue: function(value) {
           this.selectedIndexSex = value.selectedSexIndex;
           this.selectedIndexStatus = value.selectedStatusIndex;
            
           if (this.selectedIndexSex == 1) {
               this.openedFlag = true;
           }
        },
        
        reset: function() {
            this.selectedSex = null;
            this.selectedStatus = null;
            this.selectedIndexSex = -1;
            this.selectedIndexStatus = -1;
            this.valueObject = null;
        } 
  });
</script>
</polymer-element>
