<link rel="import" href="../fieldquest-question-base.html">
<link rel="import" href="../components/core-image/core-image.html">
<link rel="import" href="../components/core-icons/image-icons.html">

<polymer-element name="fieldquest-question-image-picker" extends="fieldquest-question-base">
<template>

  <style>
    :host {
      padding: 40px 10px;
    } 
    
    :host-context(.wide) {
      padding: 40px 0px 48px;
    }

    :host paper-item {
      padding: 3px 28px;
    }
    
    :host-context(.wide) paper-item {
      padding: 3px 36px;
    }
    
    .sized {
        height: 200px;
        width: 49%;
    }
      
    .camera-icon {
        position: absolute;
        right: 16px;
        margin-top: 16px;
    }
      
  </style>

  <div>
      <div id="photoGrid">
          <template repeat="{{uri, i in imageUris}}">
              <core-image src="{{uri}}" sizing="cover" class="sized"></core-image>
          </template>
      </div>
      <div><paper-fab icon="image:camera-alt" class="camera-icon" scale-up on-tap="{{capturePhoto}}"></paper-fab></div>
  </div>

</template>
<script>
    
    Polymer('fieldquest-question-image-picker', {
        
        component: null,
        
        ready: function() {
            component = this;
            this.imageUris = [];
        },
        
        isAnswered: function() {
            return true;
        },
        
        getValue: function() {
            uriValues = "";
            for (i = 0; i < this.imageUris.length; i++) { 
                uriValues += this.imageUris[i] + "\n";
            }
            return uriValues;
        },
        
        capturePhoto: function() {
            if (navigator.camera) {
                navigator.camera.getPicture(this.onCapturePhotoSuccess, this.onCapturePhotoFail, {
                    quality: 50,
                    saveToPhotoAlbum: true,
                    sourceType: Camera.PictureSourceType.CAMERA,
                    destinationType: Camera.DestinationType.FILE_URI
                });
            } else {
                alert("Camera not supported.");
            }
        },
        
        onCapturePhotoSuccess: function(newImageUri) {
            console.log(newImageUri);
            this.component.imageUris[this.component.imageUris.length] = newImageUri;
            console.log(this.component.imageUris);
        },
    
        onCapturePhotoFail: function (message) {
            // e.g. Camera cancelled
            console.log("Failed because: " + message);
        }
        
    });
    
</script>
</polymer-element>