<link rel="import" href="../fieldquest-question-base.html">
<link rel="import" href="../components/core-image/core-image.html">
<link rel="import" href="../components/core-icons/image-icons.html">
<link rel="import" href="../components/paper-dialog/paper-dialog.html">

<polymer-element name="fieldquest-question-image-picker" extends="fieldquest-question-base">
<template>

  <style>
    :host {
      padding: 40px 10px;
    } 
    
    :host-context(.wide) {
      padding: 40px 0px 48px;
    }

    :host paper-item {
      padding: 3px 28px;
    }
    
    :host-context(.wide) paper-item {
      padding: 3px 36px;
    }
    
    .sized {
        height: 200px;
        width: 49%;
    }
      
    .camera-icon {
        position: absolute;
        right: 16px;
        margin-top: 16px;
    }
      
    .remove-photo-dialog {
        display: none;
    }
     
    .capture-photo-dialog {
        display: none;
    }
     
  </style>

  <div>
      <div id="photoGrid">
          <template repeat="{{uri, i in imageUris}}">
              <core-image data-index={{i}} src="{{uri}}" sizing="cover" class="sized" on-tap="{{tapPhoto}}"></core-image>
          </template>
      </div>
      <div><paper-fab icon="image:camera-alt" class="camera-icon" scale-up on-tap="{{capturePhotoChoice}}"></paper-fab></div>
  </div>

    <paper-dialog id="capturePhotoDialog" heading="Capture photo" class="capture-photo-dialog">
        <p>Do you want to take a new photo or use an existing one?</p>
        <paper-button affirmative autofocus on-tap="{{capturePhoto}}">New</paper-button>
        <paper-button affirmative on-tap="{{loadPhoto}}">Existing</paper-button>
    </paper-dialog>
    
    <paper-dialog id="removePhotoDialog" heading="Delete" class="remove-photo-dialog">
        <p>Do you want to remove this photo?</p>
        <paper-button affirmative on-tap="{{cancelPhotoRemove}}">Cancel</paper-button>
        <paper-button affirmative autofocus on-tap="{{okPhotoRemove}}">OK</paper-button>
    </paper-dialog>
    
</template>
<script>
    
    Polymer('fieldquest-question-image-picker', {
        
        component: null,
        selectedImg: null,
        selectedImgIndex: null,
        
        ready: function() {
            component = this;
        },
        
        reset: function () {
            this.imageUris = [];
        },
        
        isAnswered: function() {
            return (this.imageUris && this.imageUris.length > 1);
        },
        
        setValue: function(value) {
            console.log("setValue: " + value);
            this.imageUris = value;
        },
        
        getValue: function() {
            return this.imageUris;
        },
        
        getDisplayValue: function() {
            uriValues = "";
            for (i = 0; i < this.imageUris.length; i++) { 
                uriValues += this.imageUris[i] + "\n";
            }
            return uriValues;
        },
        
        capturePhotoChoice: function() {
            console.log("in: capturePhotoChoice");
            
            // loadPhotoOption flag set in surveys.json
            if (this.question.loadPhotoOption) {
                this.$.capturePhotoDialog.opened = true;
            } else {
                this.capturePhoto();
            }
        },
        
        loadPhoto: function() {
            console.log("in: loadPhoto");
            if (navigator.camera) {
                navigator.camera.getPicture(this.onCapturePhotoSuccess, this.onCapturePhotoFail, {
                    sourceType: Camera.PictureSourceType.PHOTOLIBRARY,
                    destinationType: Camera.DestinationType.FILE_URI
                });
            } else {
                alert("Camera not supported.");
            }
            
            this.$.capturePhotoDialog.opened = false;
        },
        
        capturePhoto: function() {
            console.log("in: capturePhoto");
            
            if (navigator.camera) {
                navigator.camera.getPicture(this.onCapturePhotoSuccess, this.onCapturePhotoFail, {
                    quality: 50,
                    saveToPhotoAlbum: true,
                    sourceType: Camera.PictureSourceType.CAMERA,
                    destinationType: Camera.DestinationType.FILE_URI
                });
            } else {
                alert("Camera not supported.");
            }
            
            this.$.capturePhotoDialog.opened = false;
        },
        
        onCapturePhotoSuccess: function(newImageUri) {
            console.log("in: onCapturePhotoSuccess");
            console.log(newImageUri);
            this.component.imageUris[this.component.imageUris.length] = newImageUri; // have to use this.component in callback function
            console.log(this.component.imageUris);
        },
    
        onCapturePhotoFail: function (message) {
            console.log("in: onCapturePhotoFail");
            console.log("Failed because: " + message);
        },
        
        tapPhoto: function(e) {
            console.log("in: tapPhoto");
            selectedImg = e.target;
            selectedImgIndex = selectedImg.dataset.index; //get img index (custom attr)
            this.$.removePhotoDialog.opened = true;
        },
        
        cancelPhotoRemove: function() {
            console.log("in: cancelPhotoRemove");
            this.$.removePhotoDialog.opened = false;
        },
        
        okPhotoRemove: function(e) {
            console.log("in: okPhotoRemove");
            selectedImg.parentNode.removeChild(selectedImg); //remove element from dom
//            this.logArrayContents(this.imageUris);
            this.imageUris.splice(selectedImgIndex, 1); //remove uri from array
//            this.logArrayContents(this.imageUris);
            this.$.removePhotoDialog.opened = false;
        },
        
        // for debugging
        logArrayContents: function(theArray) {
            for (i=0; i<theArray.length; i++) {
                console.log(i, theArray[i]);
            }   
        }
        
    });
    
</script>
</polymer-element>