.surveys-panel {
  position: relative;
  overflow-x: hidden;
  background-color: #424242;
}

.survey-toolbar {
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/*
.topeka-avatar {
  border-radius: 50%;
  overflow: hidden;
  height: 64px;
  width: 64px;
}
*/


.survey-bg-wrapper core-icon {
  height: 100%;
  width: 100%;
}

.survey-list {
  display: block;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px 0;
  margin: 0 -2px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.survey-item {
  position: relative;
  float: left;
  vertical-align: top;
  width: 50%;
  height: 224px;
  will-change: transform;
}

.survey-item[needZ] {
/*  z-index: 10000;*/
}

.survey-item.completed {
  pointer-events: none;
}

.tile {
  position: relative;
  margin: 2px;
}

.survey-tile-bg {
  position: absolute !important;
}

.survey-bg-wrapper {
  width: 80%;
  height: 80%;
}

.completed .survey-bg-wrapper {
  width: 96px !important;
  height: 96px !important;
}

.surv-name {
  height: 48px;
  padding: 0 16px;
  font-size: 12px;
}

/*
.leaderboard, .profile {
  color: #fff;
}
*/

.leaderboard .theme-bg-a, .profile .theme-bg-a {
  background-color: #f5f5f5;
}

.leaderboard .surv-name, .profile .surv-name {
  background-color: #999;
}

.polymer-logo > .tile {
  background-color: #eee;
}

.polymer-logo core-icon {
  width: 100%;
  height: 100%;
}

/* wide layout */
.wide.survey-list {
  padding: 4px 0;
  margin: 0 -4px;
  /* need to avoid transitioning elemnents causing scrollbars to appear */
  overflow-y: hidden;
}

.wide .survey-item > .tile {
  margin: 4px;
}

.wide .survey-item {
  width: calc(100% / 6);
  height: calc(100% / 3);
}

.wide .survey-item:nth-of-type(1) {
  width: calc(100% / 3);
  height: calc(100% / 3 * 2);
}

.wide .survey-item:nth-of-type(1) .survey-bg-wrapper {
  width: 64%;
  height: 64%;
}

.wide .survey-item:nth-of-type(4) {
  width: calc(100% / 3);
}

.wide .survey-item:nth-of-type(4) .survey-bg-wrapper {
  width: 100%;
  height: 100%;
}

.wide .survey-item:nth-of-type(5) {
  width: calc(100% / 3);
  height: calc(100% / 3 * 2);
}

.wide .survey-item:nth-of-type(9) {
  position: absolute;
  top: calc(100% / 3 * 2);
  left: 0;
  width: calc(100% / 6);
  height: calc(100% / 3 - 4px);
}

.wide .survey-item:nth-of-type(10) {
  position: absolute;
  top: calc(100% / 3 * 2);
  left: calc(100% / 6);;
  width: calc(100% / 6);
  height: calc(100% / 3 - 4px);
}
