.main-button {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10000;
}

.wide .survey-bg {
  width: 512px;
  height: 512px;
}

.survey-bg > core-icon {
  position: absolute !important;
  height: 100%;
  width: 100%;
}

.wide > .main-button {
  top: 12px;
  left: 16px;
}